html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Tagesschrift", system-ui;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
}
div {
    margin: 0;
}

.background-image {
  margin: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 31), rgb(128, 0, 255));
  position: relative;
}


.star {
  margin: 0;
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.star:nth-child(1) {
  top: 34px;
  left: 129px;
}
.star:nth-child(2) {
  top: 183px;
  left: 720px;
}
.star:nth-child(3) {
  top: 420px;
  left: 300px;
}
.star:nth-child(4) {
  top: 200px;
  left: 1110px;
}
.star:nth-child(5) {
  top: 500px;
  left: 1230px;
}
.star:nth-child(6) {
  top: 670px;
  left: 70px;
}
.star:nth-child(7) {
  top: 90px;
  left: 540px;
}
.star:nth-child(8) {
  top: 45px;
  left: 990px;
}
.star:nth-child(9) {
  top: 710px;
  left: 1350px;
}
.star:nth-child(10) {
  top: 315px;
  left: 400px;
}
.star:nth-child(11) {
  top: 234px;
  left: 300px;
  opacity: 0.9;
}
.star:nth-child(12) {
  top: 432px;
  left: 1166px;
}
.star:nth-child(13) {
  top: 99px;
  left: 789px;
}
.star:nth-child(14) {
  top: 600px;
  left: 950px;
}
.star:nth-child(15) {
  top: 700px;
  left: 1120px;
}
.star:nth-child(16) {
  top: 60px;
  left: 20px;
}
.star:nth-child(17) {
  top: 348px;
  left: 1296px;
}
.star:nth-child(18) {
  top: 472px;
  left: 230px;
}
.star:nth-child(19) {
  top: 118px;
  left: 480px;
}
.star:nth-child(20) {
  top: 568px;
  left: 640px;
}
.star:nth-child(21) {
  top: 210px;
  left: 1190px;
}
.star:nth-child(22) {
  top: 350px;
  left: 960px;
}
.star:nth-child(23) {
  top: 700px;
  left: 0px;
}
.star:nth-child(24) {
  top: 40px;
  left: 620px;
}
.star:nth-child(25) {
  top: 600px;
  left: 700px;
}
.star:nth-child(26) {
  top: 500px;
  left: 111px;
}
.star:nth-child(27) {
  top: 270px;
  left: 300px;
}
.star:nth-child(28) {
  top: 110px;
  left: 1266px;
}
.star:nth-child(29) {
  top: 490px;
  left: 1330px;
}
.star:nth-child(30) {
  top: 380px;
  left: 700px;
}

.introduction {
  margin: 0;
  color: rgb(220, 220, 240);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.introduction > h1 {
    font-size: 100px;
}

.introduction > p {
  font-size: 25px;
}

.introduction span {
  text-decoration: underline;
}

.middle-container {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.middle-container > img {
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.middle-container > h2 {
    font-size: 50px;
    color: rgb(198, 198, 255);
    margin-top: 20px;
}

.middle-container > p {
    margin-top: 20px;
    font-size: 25px;
    width: 450px;
    color: rgb(198, 198, 255);
    text-align: center;
}

#contact-me {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

#contact-me > h2 {
    font-size: 50px;
    color: black;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

#info > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

#info > a:hover {
    color: aquamarine;
}

